/* Widths of stuffs
===========*/
/* COLORS
===========*/
/* rename this to blueink */
/* COLOR ASSIGNMENTS
===========*/
/* PHANTS

font-family: 'Overlock SC', cursive;
font-family: 'Nova Slim', cursive;
font-family: 'PT Mono', ;
font-family: 'Offside', cursive;
font-family: 'Rationale', sans-serif;
font-family: 'Russo One', sans-serif;
font-family: 'Unica One', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Baumans', cursive;
font-family: 'Megrim', cursive;
font-family: 'Nova Cut', cursive;
font-family: 'Aldrich', sans-serif;
font-family: 'Homenaje', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Gentium Book Basic', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Bree Serif', serif;

===========*/
/*
Layout variables
====================*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.footer {
  height: 20em;
  width: 100%;
  position: absolute;
  background-color: #85120f;
  color: #400907;
  border-top: 4px solid #400907;
  overflow: hidden;
}
.footer h1 {
  font-family: 'Bree Serif', serif;
  font-size: 150%;
}
.footer .social {
  width: 57.52%;
  margin: 0.5% 1%;
  float: left;
  display: block;
}
.footer .social h1 {
  text-align: left;
}
.footer .social p {
  font-size: 1rem;
  float: left;
}
.footer .social .footeritem {
  width: 75px;
  height: 75px;
  float: left;
}
.footer .social .footeritem a {
  width: 50%;
  display: block;
  margin: 0 auto;
}
.footer .social .footeritem a svg {
  fill: #400907;
}
.footer .social .footeritem::after {
  clear: both;
}
.footer .other {
  width: 38.47%;
  float: left;
  margin: 0.5% 1%;
}
.footer .other h1 {
  text-align: right;
}
.footer .other ul {
  list-style-type: none;
  text-align: right;
}
.footer .rss {
  margin-top: 1.1em;
  margin-right: -0.2em;
}
.footer .rss img {
  border: 0;
}
