/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* Widths of stuffs
===========*/
/* COLORS
===========*/
/* rename this to blueink */
/* COLOR ASSIGNMENTS
===========*/
/* PHANTS

font-family: 'Overlock SC', cursive;
font-family: 'Nova Slim', cursive;
font-family: 'PT Mono', ;
font-family: 'Offside', cursive;
font-family: 'Rationale', sans-serif;
font-family: 'Russo One', sans-serif;
font-family: 'Unica One', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Baumans', cursive;
font-family: 'Megrim', cursive;
font-family: 'Nova Cut', cursive;
font-family: 'Aldrich', sans-serif;
font-family: 'Homenaje', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Gentium Book Basic', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Bree Serif', serif;

===========*/
/*
Font sizes for getting all with the being responsive and sheeit.
====================*/
/*
Layout variables
====================*/
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  background-color: ;
  text-align: left;
}
.site {
  height: 100%;
  width: 100%;
  position: relative;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 400px) {
  .container {
    width: 98%;
    margin: 0 1%;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
h1 {
  margin-bottom: 1em;
}
p {
  margin: 1em 0;
}
a {
  color: #354d68;
}
a:hover {
  color: #e0e7ef;
}
a:visited {
  color: #354d68;
}
.container {
  max-width: 800px;
  margin: 120px auto 0.5em;
}
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.site {
  line-height: 1.5em;
}
.header a {
  font-weight: bold;
  text-decoration: none;
}
.title {
  display: inline-block;
  margin-bottom: 2em;
}
.title a {
  color: ;
}
.title a:hover {
  color: ;
}
.header a.extra {
  color: ;
  margin-left: 1em;
}
.header a.extra:hover {
  color: ;
}
.meta {
  color: ;
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
.post {
  margin: 1em;
}
.post pre {
  border: 1px solid ;
  background-color: ;
  padding: 0 .4em;
}
.post ul,
.post ol {
  margin-left: 1.35em;
}
.post code {
  background-color: #f1f1f1;
  border-radius: 4px;
  padding: .3em;
  color: #808080;
}
.post pre code {
  border: none;
}
.highlight pre {
  background-color: #f1f1f1;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 1em;
  padding: 1em;
}
/* terminal */
.post pre.terminal {
  border: 1px solid ;
  background-color: ;
  color: ;
}
.post pre.terminal code {
  background-color: ;
}
