/* Widths of stuffs
===========*/
/* figure out how you'll modulate widths so only one media query is neccessary.

@sidemargins:         10%;

*/
/* COLORS
===========*/
/* rename this to blueink */
/* COLOR ASSIGNMENTS
===========*/
/* PHANTS

font-family: 'Overlock SC', cursive;
font-family: 'Nova Slim', cursive;
font-family: 'PT Mono', ;
font-family: 'Offside', cursive;
font-family: 'Rationale', sans-serif;
font-family: 'Russo One', sans-serif;
font-family: 'Unica One', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Baumans', cursive;
font-family: 'Megrim', cursive;
font-family: 'Nova Cut', cursive;
font-family: 'Aldrich', sans-serif;
font-family: 'Homenaje', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Gentium Book Basic', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Bree Serif', serif;

===========*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* OWL styles
===============*/
#intro {
  position: relative;
  top: 0;
  right: 0;
  height: 87%;
  width: 100%;
}
#intro #overlay {
  width: 100%;
  height: 100%;
  background-color: #7b99bb;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
  position: relative;
  z-index: 1;
}
#home-carousel {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
#home-carousel .owl-wrapper-outer {
  height: 100%;
}
#home-carousel .owl-wrapper-outer .owl-wrapper {
  height: 100%;
}
#home-carousel .owl-wrapper-outer .owl-wrapper .owl-item {
  height: 100%;
}
#home-carousel .owl-wrapper-outer .owl-wrapper .owl-item div {
  height: 100%;
}
#home-carousel .owl-controls {
  position: absolute;
  top: 0;
  margin-top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
}
#home-carousel .owl-controls .owl-pagination {
  position: relative;
  top: 50%;
  width: 70%;
  margin: 0 15%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#home-carousel .owl-controls .owl-pagination .owl-page {
  width: 33.3%;
}
#home-carousel .owl-controls .owl-pagination .owl-page span {
  display: block;
  width: 66%;
  margin: 0 auto;
  height: 0;
  filter: alpha(opacity=50);
  opacity: 1;
  padding-bottom: 67%;
  background: url('../img/atp.svg');
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 1em solid white;
  background-color: rgba(255, 255, 255, 0.5);
}
