/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* Widths of stuffs
===========*/
/* COLORS
===========*/
/* rename this to blueink */
/* COLOR ASSIGNMENTS
===========*/
/* PHANTS

font-family: 'Overlock SC', cursive;
font-family: 'Nova Slim', cursive;
font-family: 'PT Mono', ;
font-family: 'Offside', cursive;
font-family: 'Rationale', sans-serif;
font-family: 'Russo One', sans-serif;
font-family: 'Unica One', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Baumans', cursive;
font-family: 'Megrim', cursive;
font-family: 'Nova Cut', cursive;
font-family: 'Aldrich', sans-serif;
font-family: 'Homenaje', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Gentium Book Basic', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Bree Serif', serif;

===========*/
/*
Font sizes for getting all with the being responsive and sheeit.
====================*/
/*
Layout variables
====================*/
#blog {
  text-align: left;
}
#blog #postlist {
  list-style-type: none;
  padding: 0;
}
#blog #postlist .posts {
  margin: 0 auto 1.5em;
  width: 800px;
}
#blog #postlist .posts .postfeatured {
  width: 200px;
  float: left;
  position: absolute;
}
#blog #postlist .posts .postwrap {
  margin-left: 200px;
  border-bottom: 2px dashed #f1f1f1;
  padding-bottom: 1em;
}
#blog #postlist .posts .postwrap .posttitle {
  font-family: 'Bree Serif', serif;
  font-size: 1.68em;
  margin-bottom: .5em;
  line-height: 1.5;
  display: inline-block;
}
#blog #postlist .posts .postwrap .postexcerpt p {
  font-size: 80%;
}
#blog #postlist .posts .postwrap .postexcerpt hr {
  border: none;
}
#blog #postlist .posts p {
  color: grey;
}
@media only screen and (max-width: 640px) {
  #blog #postlist .posts {
    width: 99%;
  }
  #blog #postlist .posts .postfeatured {
    width: 16%;
  }
  #blog #postlist .posts .postwrap {
    margin-left: 20%;
  }
}
#blog div.endblog {
  height: 15em;
  margin-bottom: 5em;
}
#blog div.endblog svg {
  fill: #f7f7f7;
  width: 50%;
  margin: 0 auto;
  display: block;
}
