/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* Widths of stuffs
===========*/
/* COLORS
===========*/
/* rename this to blueink */
/* COLOR ASSIGNMENTS
===========*/
/* PHANTS

font-family: 'Overlock SC', cursive;
font-family: 'Nova Slim', cursive;
font-family: 'PT Mono', ;
font-family: 'Offside', cursive;
font-family: 'Rationale', sans-serif;
font-family: 'Russo One', sans-serif;
font-family: 'Unica One', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Baumans', cursive;
font-family: 'Megrim', cursive;
font-family: 'Nova Cut', cursive;
font-family: 'Aldrich', sans-serif;
font-family: 'Homenaje', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Gentium Book Basic', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Bree Serif', serif;

===========*/
/*
Layout variables
====================*/
#resume {
  border-top: 14px solid #e3eaf1;
  padding-top: 1em;
  line-height: 1.5;
}
#resume section.top {
  min-height: 14em;
}
#resume section.top div {
  width: 50%;
  float: left;
}
#resume section {
  position: relative;
  overflow: hidden;
}
#resume section div {
  width: 80%;
  float: right;
}
#resume .contactinfo h1.title {
  text-align: right;
  font-size: 40px;
}
#resume .contactinfo h1.title span {
  font-size: 20px;
}
#resume .contactinfo ul {
  padding: 0;
}
#resume .contactinfo ul li {
  list-style-type: none;
  font-size: 80%;
  line-height: 1.5;
}
#resume .contactinfo ul li span.left {
  width: 5em;
  display: inline-block;
  text-align: right;
  margin-right: 15px;
  font-weight: bold;
  color: #7b99bb;
}
#resume .title {
  color: #354d68;
  font-size: 120%;
  margin-bottom: 0;
}
#resume .title span {
  font: italic 100 90%/150% 'Open Sans', sans-serif;
  color: #7b99bb;
}
#resume .mo {
  font-size: 120%;
  text-align: right;
  margin-top: 0.5em;
}
#resume .mo div.hr {
  border-top: 14px dashed #e3eaf1;
  float: right !important;
  margin-top: 1em;
}
#resume section > h3 {
  width: 16.6666%;
  border-right: 1px solid;
  float: left;
  height: 5em;
  padding-top: 2em;
  margin-top: 1em;
  font: italic bold 80%/150% 'Open Sans', sans-serif;
  color: #354d68;
}
#resume section.experience .job p {
  font-size: 80%;
}
#resume section.experience .job ul li {
  font-size: 75%;
  color: #354d68;
}
#resume section.experience .job ul li span {
  color: #949898;
}
#resume section.eduandskills .school {
  width: 35%;
  float: left;
  font-size: 75%;
  margin-left: 1.5em;
}
#resume section.eduandskills .skills {
  width: 45%;
  float: right;
}
#resume section.eduandskills .skills ul li {
  list-style-type: none;
  display: inline-block;
  float: right;
  text-align: justify;
  margin-right: 6px;
  font-size: 96%;
}
#resume section.eduandskills .skills ul li span {
  color: #354d68;
  font-family: 'Bree Serif', serif;
}
#resume div.endresume {
  height: 15em;
  margin: 3em 0 5em;
  border-top: 14px solid #e3eaf1;
}
#resume div.endresume .dl svg {
  fill: #c8caca;
  width: 160px;
  margin: 0 auto;
  display: block;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#resume div.endresume .dl span {
  text-align: center;
  display: block;
}
#resume div.endresume .dl:hover svg {
  fill: #7b99bb;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
