/* Widths of stuffs
===========*/
/* COLORS
===========*/
/* rename this to blueink */
/* COLOR ASSIGNMENTS
===========*/
/* PHANTS

font-family: 'Overlock SC', cursive;
font-family: 'Nova Slim', cursive;
font-family: 'PT Mono', ;
font-family: 'Offside', cursive;
font-family: 'Rationale', sans-serif;
font-family: 'Russo One', sans-serif;
font-family: 'Unica One', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Baumans', cursive;
font-family: 'Megrim', cursive;
font-family: 'Nova Cut', cursive;
font-family: 'Aldrich', sans-serif;
font-family: 'Homenaje', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Gentium Book Basic', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Bree Serif', serif;

===========*/
/*
Layout variables
====================*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*
FONT STUFF

====================*/
.header {
  font-family: 'Megrim', cursive !important;
  font-size: 16px;
}
body {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 20px;
  line-height: 1.5;
  color: #949898;
}
@media screen and (max-width: 400px) {
  body {
    font-size: 15px;
  }
}
a {
  color: #354d68;
  font-weight: bold;
  text-decoration: none;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
a:hover {
  color: #7b99bb;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.subitem {
  font-family: 'Bree Serif', serif;
  color: #354d68;
  font-size: 120%;
}
h1,
h2,
h3,
h4 {
  font-family: 'Bree Serif', serif;
}
div#layout a {
  color: #7b99bb !important;
}
#devheader {
  font-family: monospace;
  font-weight: 100;
}
#designheader {
  font-family: 'Megrim', cursive;
}
