/*
MIXINS
===========*/
.bigtext {
  text-align: center;
  margin: 10% auto 5%;
  max-width: 80%;
  font-size: 260%;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-family: open sans;
  font-weight: bold;
}
.bigtextfollowup {
  color: white;
  margin: 0 auto;
  max-width: 80%;
  text-align: center;
  line-height: 1.5;
  font-family: open sans;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
/*
===========*/
/*
DRY CSS
===========*/
section {
  position: relative;
  overflow: hidden;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
section h1 {
  text-align: center;
  margin: 10% auto 5%;
  max-width: 80%;
  font-size: 260%;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-family: open sans;
  font-weight: bold;
}
section p {
  color: white;
  margin: 0 auto;
  max-width: 80%;
  text-align: center;
  line-height: 1.5;
  font-family: open sans;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
section .button {
  text-align: center;
  display: block;
  border: 1px solid orange;
  min-width: 200px;
  width: 200px;
  margin: 5% auto;
  padding: 15px;
  color: orange;
  font-family: open sans;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  cursor: pointer;
}
section .button:hover {
  background-color: orange;
  color: white;
}
#top #videobg {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
}
#learnmore h1 {
  color: #ccc;
  text-shadow: none;
}
#learnmore p {
  color: #dddddd;
}
#learnevenmore {
  background-color: #ccc;
}
#learnevenmore h1 {
  text-shadow: none;
}
#learnevenmore img {
  width: 60%;
  margin: 0 20%;
}
