/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*
Mixing it all in.
====================*/
.drydivs {
  position: absolute;
  top: 200px;
  width: 90%;
  margin: 0 5%;
}
.contact-form {
  position: absolute;
  top: 200px;
  width: 90%;
  margin: 0 5%;
  right: -100%;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.contact-form-on {
  right: 0;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.push-horizontal {
  position: absolute;
  top: 200px;
  width: 90%;
  margin: 0 5%;
  right: 0;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.push-horizontal-on {
  right: 100%;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
