@import "variables";
@import "elements";

.footer {
  height: 20em;
  width: 100%;
  position: absolute;
  background-color:@footercolor;
  color: @darkfootercolor;
  overflow: hidden;
  .drop-shadow(@inset:inset, @x-axis: 2px, @y-axis: 2px, @blur: 30px, @alpha: 0.1);
  @media only screen and (max-width : 500px) { font-size: 60%; }

  h1, .extra {
    font-size: 150%;
  }//ht, .extra

  .footerwrap {
    position: relative;
    top: 20%;
    width: 66%;
    margin: 0 auto;
    .transform(translateY(-20%));
    .social {
      width: 57.52%;
      margin: 0.5% 1%;
      float: left;
      display: block;
      h1 {
        text-align: left;
      }// h1
      p {
        font-size: 1rem;
        float: left;
      }// p
      .footeritemwrap {
        display: inline-block;
        width: 100%;
        position: relative;
        .footeritem {
          width: 75px;
          height: 75px;
          float: left;
          @media only screen and (max-width : 500px) {
            width: 50px;
            height: 50px;
          }// @media
          a {
            width: 50%;
            display: block;
            margin: 0 auto;
            svg {
              fill: @darkfootercolor;
              &:hover {
                fill: @darkblueink;
              }
            }// svg

            &::after {
              clear: both;
            }// ::after
          }// a
        }//.footeritem
      }// footeritemwrap
    }// .social
  .other {
    width:38.47%;
    float: left;
    margin: 0.5% 1%;
      h1 {
        text-align: right;
      }
      ul {
        list-style-type: none;
        text-align: right;
      }
      hr {
        background-color: @darkfootercolor;
        display: block;
        border: 2px solid;
      }
      a.extra {
        text-align: right;
        text-transform: uppercase;
        margin: 1em;
        color: @darkfootercolor;
        display:block;
        &:hover {
          color: @darkblueink;
        }
      }
      .contact {
        background-color: @darkfootercolor !important;
        padding: 1em;
        color: @footercolor !important;
        border: 5px solid @darkfootercolor;
        .rounded(6px);
        width: 50%;
        text-align: center !important;
        float: right;
        margin: 0 1em 0 0 !important;
        &:hover {
          background-color: @footercolor !important;
          color: @darkblueink !important;
          border-color: @darkblueink;
        }
        @media only screen and (max-width : 600px) {
            padding: 5px;
            border-width:2px;
        }
      }
  }// other
}// footerwrap

@media only screen and (max-width : 1150px) {
  .footerwrap {
    top: 10%;
    width: 85%;
    .transition-duration(@duration: 0.8s);
  }
}



  p.colophon {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 68%;
    text-align: center;
  }
  .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    img {
      border: 0;
    } // img
  } // .rss
} //.footer
