@import "elements";
@import "variables";



/* OWL styles
===============*/

#intro {
  position: relative;
  top: 0;
  right: 0;
  height: 80%;
  width: 100%;
  #overlay {
    width: 100%;
    height: 100%;
    background-color: @blueink;
    .opacity(@opacity: 0.5);
    position: relative;
    z-index: 1;
  }// overlay
}// intro
#home-carousel {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  .owl-wrapper-outer {
    height: 100%;
    .owl-wrapper {
      height: 100%;
      .owl-item {
        height: 100%;
        div {
          height: 100%;
        } //div
      } //owl-item
    } //owl-wrapper
  } //owl-wrapper-outer
  .owl-controls {
    position: absolute;
    top: 0;
    margin-top: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    .owl-pagination {
      position: relative;
      top: 50%;
      width: 70%;
      margin: 0 15%;
      .transform(translateY(-50%));
      .owl-page {
        width: 33.3%;
        span {
          display: block;
          width: 66%;
          margin: 0 auto;
          height: 0;
          filter: alpha(opacity=50);
          opacity: 1;
          padding-bottom: 67%;
          background: url('../img/atp.svg');
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          border: 1em solid white;
          background-color: rgba(255, 255, 255, 0.5);
        } //span
      } //owl-page
      .active {
        span {

        } //span
      } //active
    } //owl-pagination
  } //owl-controls
} //home-carousel

#declaration {
  h1 {
    line-height: 1;
    color: @darkblueink;
    font-family: @headerfont;
  }
  p {
    width: 60%;
    margin: 0 auto;
    font-size: 115%;
  }
}
