@import "elements";
@import "variables";
@import "owl";


#declaration {
  h1 {
    line-height: 1;
    color: @darkblueink;
    font-family: @headerfont;
  }
  p {
    width: 60%;
    margin: 0 auto;
    font-size: 115%;
    @media screen and (min-width: 1000px){
      width: @wlarge;
      margin: 0 @smlarge;
    }
    @media screen and (max-width: 1000px){
      width: @w;
      margin: 0 @sm;
    }
    @media screen and (max-width: 500px){
      width: @wsmall;
      margin: 0 @smsmall;
    }
  }
}
