@import "variables";
@import "elements";

.header {
  position:fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 2px solid transparent;
  .transition-duration(@duration: 0.5s);
  a {
  } // a
  .title {
    float: left;
    margin: 0;
    padding: 0;
    a {
      svg {
        width: 6em;
        height: 4em;
        fill: @navintrocolor;
        transition-property: fill;
        .transition-duration(@duration: 0.5s);
      }
      &:hover svg {
        fill: @navintrohovercolor;
        transition-property: fill;
        .transition-duration(@duration: 0.5s);
      }
    } //a
  } // title
  .extra {
    float: right;
    padding: .5em;
    font-size: 2em;
    color: @navintrocolor;
    .transition-duration(@duration: 0.5s);
    &:hover {
      color: @navintrohovercolor;
      .transition-duration(@duration: 0.5s);
    }
  } // extra
} // header

/*
  Dark blue
================|
*/

.dark {
  border-bottom:2px solid @navbluecolor;
  background-color: fade(white, 80%);
  .transition-duration(@duration: 0.5s);
  .title {
    a {
      svg {
        fill: @navbluecolor;
        .transition-duration(@duration: 0.5s);
      }
      &:hover svg {
        fill: @navbluehovercolor;
        .transition-duration(@duration: 0.5s);
      }
    } //a
  } // title
  .extra {
    color: @navbluecolor;
    .transition-duration(@duration: 0.5s);
    &:hover {
      color: @navbluehovercolor;
      .transition-duration(@duration: 0.5s);
    }// hover
  } // extra
}// dark

/*
  Dark red
================|
*/

.darkred {
  border-bottom:2px solid @navredcolor;
  background-color: fade(white, 80%);
  .transition-duration(@duration: 0.5s);
  .title {
    a {
      svg {
        fill: @navredcolor;
        .transition-duration(@duration: 0.5s);
      }
      &:hover svg {
        fill: @navredhovercolor;
        .transition-duration(@duration: 0.5s);
      }
    } //a
  } // title
  .extra {
    color: @navredcolor;
    .transition-duration(@duration: 0.5s);
    &:hover {
      color: @navredhovercolor;
      .transition-duration(@duration: 0.5s);
    }// hover
  } // extra
}// dark
