@import "elements";
@import "variables";

#blog {
  text-align: left;
  #mocksearch {
    font-size: 3em;
    width: 100%;
    padding: 0.2em 0;
margin: 0.5em 0 1em;
    border: none;
    text-align: center;
    border-bottom: 4px dashed @lightblueink;
    font-family: @defaultfont;
    color: @darkblueink;
    font-weight: 100;
    font-style: italic;
    &:focus{
        border-color:none;
        outline: 0;
        .inner-shadow(@horizontal:0, @vertical:0px, @blur:0px, @alpha: 0)
    }// mocksearch:focus
  }// mocksearch

  #postlist {
    list-style-type: none;
    padding: 0;
    .posts {
      margin: 0 auto 1.5em;
      width: @maxWidth;
      .postfeatured {
        width: 200px;
        float: left;
        position: absolute;
      }
      .postwrap {
        margin-left: 200px;
        border-bottom: 2px dashed #f1f1f1;
        padding-bottom: 1em;
        .posttitle {
          font-family: @headerfont;
          font-size: 1.68em;
          margin-bottom: .5em;
          line-height: 1.5;
          display: inline-block;
        }// postitle
        .postexcerpt {
          p {
            font-size: 80%;
          }// p
          hr {
            border: none;
          }
        }// postexcerpt
      }// postwrap
      p {
        color: grey;
      }// p
    }//post
  }// postlist
  div.endblog {
    height: 15em;
    margin-bottom: 5em;
    svg{
      fill: #f7f7f7;
      width: 50%;
      margin: 0 auto;
      display: block;
    }
  }
}// blog
