@import "variables";
@import "elements";

@golden-ratio: 1.61803398875;

@basefontsize:                  16px;
@mobilebasefontsize:             @fontsize - 2;

.header {
  font-family: @navfont !important;
}
body {
  font-family: @defaultfont !important;
  font-size: @fontsize;
  @media screen and (max-width: 400px){
    font-size: @smallfontsize;
  }
  color: @defaultfontcolor;
}


h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  line-height: 1.5;
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}
