@import "variables";
@import "elements";

/*
FONT STUFF

====================*/
@primaryfontsize:					20px;
@headerfontsize: 					@primaryfontsize - 4;
@mobilefontsize: 					@primaryfontsize - 5;

.header {
  font-family: @navfont !important;
	font-size: @headerfontsize;
}
body {
  font-family: @defaultfont !important;
  font-size: @primaryfontsize;
  line-height: 1.5;
  @media screen and (max-width: 400px){
    font-size: @mobilefontsize;
  }
  color: @defaultfontcolor;
}

a {
	color: @darkblueink;
	font-weight: bold;
	text-decoration: none;
	.transition-duration(@duration: 0.5s);
}
a:hover {
	color: @blueink;
	.transition-duration(@duration: 0.5s);
}
.subitem {
  font-family: @headerfont;
  color: @darkblueink;
  font-size: 120%;
}

h1, h2, h3, h4 {
  font-family: @headerfont;
}

div#layout a {
  color: @blueink !important;
}
#devheader {
  font-family: monospace;
  font-weight: 100;
}

#designheader {
  font-family: @navfont;
}

// initial variables set-up
//
// @doc-font-size:16;
// @doc-line-height:24;
//
// // mixin
//
// // full-fat vertical rhythm
// .font-size (@size) {
//   font-size: 0px + @size;
//   font-size: 0rem + @size / @doc-font-size;
//   line-height: 0 + round(@doc-line-height / @size*10000) / 10000;
//   margin-bottom: 0px + @doc-line-height;
// 	margin-bottom: 0rem + (@doc-line-height / @doc-font-size);
// }
//
// // just the REMs
// .font-rem (@size) {
//   font-size: 0px + @size;
//   font-size: 0rem + @size / @doc-font-size;
// }
//
// // just font-size and line-height
// .font (@size) {
//   font-size: 0px + @size;
//   font-size: 0rem + @size / @doc-font-size;
//   line-height: 0 + round(@doc-line-height / @size*10000) / 10000;
// }
//
//
// // set-up the body font-size / line-height
// body {
// 	font-size: 0px + @doc-font-size;
// }
//
// // reseting margin-top on all the things
//
// h1, h2, h3, h4, h5, h6, blockquote, iframe, label, p, pre, address, td, th, ul, ol, dl, dd, hr,
// table, small { margin-top: 0; }
//
// // making the page
//
// html {
// 	color: #F2F2F2;
// 	font-family: Georgia, Times, "Times New Roman", serif;
// }
//
// h1 {
// 	.font-size(32);
// }
//
// h2 {
//   .font-rem(20);
// }
//
// h6 {
//   .font(16);
// }
//
// p {
//   .font(16);
// }
//
//
// small {
//   .font-size(12);
// }
