@import "variables";
@import "elements";

@fontsize:                  16px;
@smallfontsize:             @fontsize - 2;

.header {
  font-family: @navfont !important;
}
body {
  font-family: @defaultfont !important;
  font-size: @fontsize;
  @media screen and (min-width: 1000px){
    font-size: @smallfontsize;
  }
  color: @defaultfontcolor;
}


h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  line-height: 1.5;
}
