/* Widths of stuffs
===========*/

@smlarge:             @sm * 2.5;
@sm:                  10%;
@smsmall:             @sm / 2;


@wlarge:              100% - @smlarge * 2;
@w:                   100% - @sm * 2;
@wsmall:              100% - @smsmall * 2;

@maxWidth: 800px;

/* COLORS
===========*/

@black:                #161717;
@grey:                 lighten(@black, 50%);
@lightergrey:          lighten(@black, 50%);

/* rename this to blueink */
@lightblueink:         lighten(@blueink, 30%);
@blueink:              rgba(123,153,187,1);
@darkblueink:          darken(@blueink, 30%);



/* COLOR ASSIGNMENTS
===========*/

@navintrocolor:                  #fff;
@navintrohovercolor:     @darkblueink;

@navbluecolor:           @darkblueink;
@navbluehovercolor:      @darkblueink;

@navdarkcolor:             @footercolor;
@navdarkhovercolor:        @darkfootercolor;


@defaultfontcolor:           @grey;

@codebackground:             #f1f1f1;
@codecolor:                     grey;

@lightfootercolor-base:          lighten(@footercolor-base, 30%);
@footercolor-base:               #cccccc;
@darkfootercolor-base:           darken(@footercolor-base, 30%);

@footercolor:                @footercolor-base;
@darkfootercolor:        @darkfootercolor-base;
@lightfootercolor:      @lightfootercolor-base;

/* PHANTS

font-family: 'Overlock SC', cursive;
font-family: 'Nova Slim', cursive;
font-family: 'PT Mono', ;
font-family: 'Offside', cursive;
font-family: 'Rationale', sans-serif;
font-family: 'Russo One', sans-serif;
font-family: 'Unica One', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Baumans', cursive;
font-family: 'Megrim', cursive;
font-family: 'Nova Cut', cursive;
font-family: 'Aldrich', sans-serif;
font-family: 'Homenaje', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Gentium Book Basic', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Bree Serif', serif;

===========*/

@navfont:              'Megrim', cursive;
@defaultfont:          'Open Sans', sans-serif;
@headerfont:           'Bree Serif', serif;

/*
Font sizes for getting all with the being responsive and sheeit.
====================*/

//Global Font Base
@gfb: 20px;


//Global
@body: @gfb;

//Front/Home Page
@topnav: percentage(0.8);
@topthirdheader: percentage(3.0);

@declarationheader:percentage(2.4);
@triosub: percentage(1);
@toolsub: percentage(1);

@footertext: percentage(1.5);
@copyright: percentage(0.68);

//Contact Page
@contacttitle: percentage(2.4);
@inputtitle: percentage(1.2);
@formvalue: percentage(1);
@submit: percentage(1.2);

//Resume Page
@name: percentage(2.0);
  @media screen and (max-width: 400px){
    @name: percentage(1.5);
  }
@namespan: percentage(0.5);
@contactinfo: percentage(0.8);

@mo: percentage(1.2);

@sectionh3: percentage(0.8);
@jobtitle: percentage(1.2);
@jobtitlespan: percentage(0.9);
@joblist: percentage(0.75);

@school: percentage(1);
@schoolspan: percentage(0.75);

@skills: percentage(0.96);

//Blog Posts page



/*
Layout variables
====================*/
//
// @media only screen and (min-width : 600px) { color: green; }
//
//
// @mainWidth: round(@baseWidth / 1.618);
// @sidebarWidth: round(@baseWidth * 0.382);
