@black:                #161717;
@grey:                 lighten(@black, 50%);
@lightergrey:          lighten(@black, 50%);

@lightdice:            lighten(@dice, 30%);
@dice:                 #47de93;
@darkdice:             darken(@dice, 10%);

@navcolor:             @darkdice;
@navhovercolor:        @dice;
