---
layout: default
title: Contact
type: Contact
---
<section id="contact" class="container">

  <h1 class="fitText">Get in touch.</h1>

  <p class="contactgreeting">If you want to contact me for any reason, you can find me on any social media listed below or fill out the form and I’ll reply as soon as I can.</p>


<form action="//forms.brace.io/jnholway@gmail.com" method="POST">

    <div class="inputwrap half">
      <label for="name">Name:</label>
      <input class="" type="text" name="name" placeholder="">
    </div>

    <div class="inputwrap half">
      <label for="email">Email:</label>
      <input class="" type="email" name="_replyto" placeholder="yourname@email.com">
    </div>

    <input type="hidden" name="_next" value="http://atotalpirate.github.io/thanks/" />

    <div class="inputwrap">
      <textarea rows="4" placeholder="Drop a line..."></textarea>
    </div>

    <input type="submit" value="SUBMIT">
</form>

<div class="socialitems">
    <div class="socialitem">
      <a target="_blank" href="https://github.com/atotalpirate">{% include github.svg %}</a><br />
    </div>
    <div class="socialitem">
      <a target="_blank" href="https://twitter.com/atotalpirate">{% include twitter.svg %}</a><br />
    </div>
    <div class="socialitem">
      <a target="_blank" href="https://www.instagram.com/atotalpirate">{% include instagram.svg %}</a><br />
    </div>
    <div class="socialitem">
      <a target="_blank" href="https://www.behance.net/atotalpirate">{% include behance.svg %}</a><br />
    </div>
    <div class="socialitem">
      <a target="_blank" href="https://play.spotify.com/user/127738682">{% include spotify.svg %}</a><br />
    </div>
    <div class="socialitem">
      <a class="resume" target="_blank" href="/contact/resume/">{% include resume.svg %}</a><br />
    </div>
</div>

</section>
