  <div class="footer">
    <div class="footerwrap">
      <div class="social">
        <h1>Be Social.</h1>

          <div class="footeritemwrap">
            <div class="footeritem">
              <a target="_blank" href="https://github.com/atotalpirate">{% include github.svg %}</a><br />
            </div>
            <div class="footeritem">
              <a target="_blank" href="https://twitter.com/atotalpirate">{% include twitter.svg %}</a><br />
            </div>
            <div class="footeritem">
              <a target="_blank" href="https://www.instagram.com/atotalpirate">{% include instagram.svg %}</a><br />
            </div>
            <div class="footeritem">
              <a target="_blank" href="https://www.behance.net/atotalpirate">{% include behance.svg %}</a><br />
            </div>
          </div>

      </div><!--social-->
      <div class="other">

        <a class="extra" href="/">Back to top</a>
        <a class="extra" href="/blog/">blog</a>
        <a class="extra contact" href="/contact/">contact</a>

      </div>
    </div>
    <p class="colophon">Copyright &copy; {{ site.time | date: "%Y" }} Jimmy Holway</p>
  </div><!--footer-->
</div><!--site-->

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/js/jquery.menu.js"></script>
<script src="/js/jquery.fittext.js"></script>

{% if page.title == 'Home' %}

<!-- <script src="/js/owl.carousel.min.js"></script> -->
<script src="/js/atp.js"></script>

<script>
  // Header style change on scroll

$(document).ready(function() {

    var intro = $("#intro").height();

    $(function(){
     var changeHeader = intro - 20;
      $(window).scroll(function() {
        var scroll = getCurrentScroll();
          if ( scroll >= changeHeader ) {
               $('.header').addClass('dark').removeClass('light');
            }
            else {
                $('.header').removeClass('dark');
            }
      });
    function getCurrentScroll() {
        return window.pageYOffset;
        }
    });

});

  $("#middle h1").fitText(1.2, { minFontSize: '20px', maxFontSize: '50px' });

</script>

{% endif %}

<script src="/js/atp.scrollscript.js"></script>
<!-- <script src="/js/atp.dlmenu.js"></script> -->
<script>
    // $( "#dl-menu" ).dlmenu();
    $(".fitText").fitText(1.2, { minFontSize: '20px', maxFontSize: '150px' });
</script>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'jholway'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>

</body>
</html>
