  <div class="footer">
    <div class="container">
      <div class="social">
        <h1>Be Social.</h1>

          <div class="footeritemwrap">
            <div class="footeritem">
              <a target="_blank" href="https://github.com/atotalpirate">{% include github.svg %}</a><br />
            </div>
            <div class="footeritem">
              <a target="_blank" href="https://twitter.com/atotalpirate">{% include twitter.svg %}</a><br />
            </div>
            <div class="footeritem">
              <a target="_blank" href="https://www.instagram.com/atotalpirate">{% include instagram.svg %}</a><br />
            </div>
            <div class="footeritem">
              <a target="_blank" href="https://www.behance.net/atotalpirate">{% include behance.svg %}</a><br />
            </div>
          </div>

      </div><!--social-->
      <div class="other">

        <a class="extra" href="/">Back to top</a>
        <a class="extra" href="/">blog</a>
        <a class="extra contact" href="/">contact</a>

      </div>
    </div>
    <p class="colophon">Copyright &copy; {{ site.time | date: "%Y" }} Jimmy Holway</p>
  </div><!--footer-->
</div><!--site-->

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/js/jquery.menu.js"></script>

{% if page.title == 'Home' %}

<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.fittext.js"></script>
<script src="/js/atp.js"></script>
<script>

$(document).ready(function() {

  $("#home-carousel").owlCarousel({

      navigation : false, // Show next and prev buttons
      singleItem : true,
      transitionStyle : "fade"

      // "singleItem:true" is a shortcut for:
      // items : 1,
      // itemsDesktop : false,
      // itemsDesktopSmall : false,
      // itemsTablet: false,
      // itemsMobile : false

  });


  $("#work-carousel").owlCarousel({

      navigation : true, // Show next and prev buttons
      pagination: false,
      navigationText : ["❮","❯"],
      items : 5,
      transitionStyle : "fade"

      // "singleItem:true" is a shortcut for:
      // items : 1,
      // itemsDesktop : false,
      // itemsDesktopSmall : false,
      // itemsTablet: false,
      // itemsMobile : false

  });

  // Header style change on scroll

  // var vh = $(window).height();
    var intro = $("#intro").height();
    var declaration = $("#declaration").height();

    $(function(){
     var changeHeader = intro - 20;
      $(window).scroll(function() {
        var scroll = getCurrentScroll();
          if ( scroll >= changeHeader ) {
               $('.header').addClass('dark');
            }
            else {
                $('.header').removeClass('dark');
            }
      });
    function getCurrentScroll() {
        return window.pageYOffset;
        }
    });




});

  $("#middle h1").fitText(1.2, { minFontSize: '20px', maxFontSize: '50px' });
  $(".headertext h1").fitText(1.2, { minFontSize: '20px', maxFontSize: '50px' });

</script>

{% endif %}

<script src="/js/atp.dlmenu.js"></script>
<script>
    $( '#dl-menu' ).dlmenu();
</script>
</body>
</html>
