<div class="footer">
  <div class="contact">
    <p>
      Your Name<br />
      What You Are<br />
      you@example.com
    </p>
  </div>
  <div class="contact">
    <p>
      <a href="https://github.com/yourusername">github.com/yourusername</a><br />
      <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
    </p>
  </div>
</div>
</div>



<script src="{{ site.assets }}/jquery/dist/jquery.min.js"></script>


{% if page.title == 'Home' %}

<script src="{{ site.assets }}/owlcarousel/owl-carousel/owl.carousel.min.js"></script>
<script src="{{ site.assets }}/FitText.js/jquery.fittext.js"></script>
<script>

$(document).ready(function() {

  $("#home-carousel").owlCarousel({

      navigation : false, // Show next and prev buttons
      singleItem : true,
      transitionStyle : "fade"

      // "singleItem:true" is a shortcut for:
      // items : 1,
      // itemsDesktop : false,
      // itemsDesktopSmall : false,
      // itemsTablet: false,
      // itemsMobile : false

  });

});

  $("#declaration h1").fitText(1.2, { minFontSize: '20px', maxFontSize: '50px' })

</script>

 <!--script>
//
//   var viewportHeight = $(window).height();
//
//   $("#home-carousel").css({
//     "height": viewportHeight / 1.2
//   });
//
//   $("#intro").css({
//     "height": viewportHeight / 1.2
//   });
//
// </script-->

{% endif %}

<script src="js/atp.js"></script>
</body>
</html>
