<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.name }} | {{ page.title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon shtuff -->

        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="apple-touch-icon" href="/appletouchicon.png">


        <!-- Google Web Font (THANKS! you buncha nerds) -->

        <link href='http://fonts.googleapis.com/css?family=Overlock+SC|Nova+Slim|PT+Mono|Offside|Rationale|Russo+One|Unica+One|Audiowide|Baumans|Megrim|Nova+Cut|Aldrich|Homenaje|Open+Sans:400italic,600italic,400,300,600,700,800|Open+Sans:300italic,400,300,600,700,800|Gentium+Book+Basic|Oswald|Bree+Serif' rel='stylesheet' type='text/css'>


        <!-- Normalizer -->

        <link rel="stylesheet" href="/css/normalize.min.css">

        <!-- syntax highlighting CSS -->

        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link type="text/css" rel="stylesheet" href="/css/main.css"/>
        <link type="text/css" rel="stylesheet" href="/css/typography.css"/>
        <link type="text/css" rel="stylesheet" href="/css/nav.css"/>
        <link type="text/css" rel="stylesheet" href="/css/footer.css"/>

        {% if page.title == 'Home' %}

        <link type="text/css" rel="stylesheet" href="{{ site.assets }}/OwlCarousel/owl-carousel/owl.carousel.css">
        <link type="text/css" rel="stylesheet" href="{{ site.assets }}/OwlCarousel/owl-carousel/owl.transitions.css">
        <link type="text/css" rel="stylesheet" href="{{ site.assets }}/OwlCarousel/owl-carousel/owl.theme.css">
        <link type="text/css" rel="stylesheet" href="/css/front.css">

        {% endif %}

        </head>
        <body>

            <div class="site">

              <div id="desktopmenuwrap" class="header">
                <h1 class="title">
                  <a href="/">
                    {% include atp.svg %}
                </a>
              </h1>
                <div id="menu" class="desktopnav">
                    <ul>
                        <li><a href='#home'>home</a></li>
                        <li><a href='#about-me'>blog</a></li>
                        <li><a href='#gallery'>gallery</a></li>
                   </ul>
                </div>
              </div><!--header-->
