
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<script src="/js/sandbox/sandbox.js"></script>

<script src="/js/lazylinepainter/jquery.lazylinepainter-1.1.min.js"></script>
<script src="/js/lazylinepainter/raphael-min.js"></script>

<script src="/js/lazylinepainter/svg.js"></script>

</body>
</html>
