@import "../elements";

@montserrat:'Montserrat', sans-serif;

@nav-font: @montserrat;
@title-font: @montserrat;


/*
GLOBAL
=====================*/

html, body {
  min-width: 100%;
  min-height:100%;
}

header, nav > a {
  z-index: 1000;
}

body, p {
  font-family: arvo;
}

header {
  height: 150px;
  width: 100%;
  position: absolute;
  background-color: white;
  top: 0;
}

@media only screen and (max-width : 650px) {
  header {
    height: 50px;
  }
}

input, textarea {
  padding: ;
}

#videobg {
     position: fixed;
     top: 0px;
     left: 0px;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     z-index: -1000;
     overflow: hidden;
}

@media only screen and (max-width : 650px) {
  #videobg {
       display:none;
  }
  body {
    background: url("/img/jesse.jpg");
    background-size: cover;
    z-index:-1;
  }
}

/*
MIXINS
=====================*/

.bigtext {
  text-align: center;
  font-size: 260%;
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  font-family: @montserrat;
  font-weight: bold;
}

.bigtextfollowup {
  color: white;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

/*
DRY
=========================*/

#overlay {
  position: absolute;
  width:100%;
  height:100%;
  background-color: rgba(36,78,89, 0.6);
}

section {
  position: relative;
  overflow:hidden;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  .flex-display(@display: flex);
  .flex-direction(@direction: column);
  .align-items(@align: center);
  .justify-content(@justify: center);

  h1 {
    .bigtext;
    display: inline-table;
    position: relative;
    min-width: 100%;
    margin: 0;
    text-transform: uppercase;
  }
  @media only screen and (max-width : 650px) {
    h1 {
      .bigtext;
      display: flexbox;
      font-size: 150%;
      position: relative;
      min-width: 100%;
      margin: 0;
      text-transform: uppercase;
    }
  }
  h2 {
    .bigtext;
    font-size:150%;
    position: relative;
  }
  .hr {
    width: 200px;
    border-bottom: 1px solid white;
    margin: 3% auto 4%;
  }

  p {
    .bigtextfollowup;
  }
}//section

@media only screen and (max-width : 650px) {
    section {
      top:-15%;
    }
  }

header {
  nav {
    .logo-desktop {
      background: url("/img/svg/wearalab.svg");
      width: 300px;
      height: 100px;
      display: block;
      position: absolute;
      background-repeat: no-repeat;
      margin: 20px;
    }
    .logo-mobile {
      display:none;
      background: url("/img/svg/wearalab-icon.svg");
      position: absolute;
      background-repeat: no-repeat;
      margin: 20px;
    }
    @media only screen and (max-width : 650px) {
      .logo-desktop {
        display: none;
      }
      .logo-mobile {
        display:block;
        background: url("/img/svg/wearalab-icon.svg");
        width: 50px;
        height: 50px;
        display: block;
        position: absolute;
        background-repeat: no-repeat;
        margin: 7px;
      }
    }
    .contact {
      position: absolute;
      right: 0;
      top: 0;
      margin: 55px;
      color: #294c59;
      font: bold 150% @montserrat;
      text-decoration:none;
      text-transform: uppercase;
      cursor:pointer;
      z-index:1000;
    }

    @media only screen and (max-width : 650px) {
      .contact {
        margin: 11px;
        font: bold 150% @montserrat;
      }
    }
  }

}
#intro {
  h1 {
    margin-bottom:3%;
  }

  .quote {
    p {
      font-family: lato;
      font-weight: 100;
      font-size: 160%;
      span {
        font-family: arvo;
        font-weight: ;
        font-size:;
      }
    }
  }

  form {
    margin: 0 auto;
    max-width: 600px;
    input, textarea, button {
      padding: 3% 2%;
      margin: 1%;
      .rounded(@radius: 5px);
      color: #244e59;
      font-family: @montserrat;
      font-size: 120%;
    }
    .half {
      width: 44%;
      margin: 1%;
      border: none;
      outline: 0;
      float: left;
      display: block;
    }
    .full {
      width: 94%;
      margin: 1%;
      border: none;
      outline: 0;
      float: right;
      display: block;
    }
    button {
      border: none;
      text-transform: uppercase;
      margin: 6% auto;
      display: block;
      background-color: #d9e0e6;
      color: #244e59;
      position: relative;
      top: 20px;
      padding: 2% 8%;
    }
  }
}

footer {
  display: inline;
  position: absolute;
  bottom: 0;
  color: white;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  .social {
    min-width:100%;
    p {
      font-size: 200%;
      font-variant: italic;
    }
    a {
      width: 100px;
      display: block;
      margin: 20px auto;
      svg {
        width: 100%;
        fill: white;
        .transition-duration(@duration: 0.2s);
        &:hover {
          fill: #00aeed;
          .transition-duration(@duration: 0.2s);
        }//hover
      }//svg
    }//a
  }//social
  .colophon {
    clear:both;
  }
  @media only screen and (max-width : 650px) {
    .social {
      min-width: 80%;
      width: 80%;
      margin: 0 auto;
      display: block;
      p {
        display: none;
      }
      a {
        width: 40px;
        display: block;
        margin: 10px auto;
        svg {
          width: 100%;
          fill: white;
          .transition-duration(@duration: 0.2s);
          &:hover {
            fill: #00aeed;
            .transition-duration(@duration: 0.2s);
          }//hover
        }//svg
      }//a
    }//social
    .colophon {
      clear:both;
      font-size: 80%;
    }
  }//media

}
